
/* -------GENERAL CODE------- */


@font-face{
    font-family:roboto;
    src:url("../Roboto/Roboto-Regular.ttf");
    font-family: fredoka one;
    src: url("../Fredoka_One/FredokaOne-Regular.ttf");
}
@font-face{
    font-family: hind madurai;
    src: url("../Hind_Madurai/HindMadurai-Medium.ttf");
    font-family: roboto;
    src: url(../Roboto/Roboto-Bold.ttf);
}
*{
    box-sizing: border-box;
}
body{
    margin: 0%;
}
.container{
    width: 1130px;
    margin: 0% auto;
}
img{
    display: inline-block;
}
.site-btn{
    display: inline-block;
    width: 165px;
    height: 49px;
    font-size: 16px;
    background-color: #D23166;
    color: white;
    border-radius: 5px;
    font-family: hind madurai;
}
.site-btn:hover{
  opacity: 0.8;
}
.site-btn:active{
    opacity: 0.4;
}


/* -------HEADER------- */

.site-header{
   display: inline-block;
   width: 100%;
   background-color: #F2CEDA;

}
.header-container{
    padding: 0;
    display: flex;
    align-items: center;
    padding-bottom: 100px;
}
.site-header-logo-img{
    margin-top: 30px;
}
.site-nav{
    display: flex;
    align-items: center;
    margin-top: 30px;
}
.site-nav-list{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    margin-left: 230px;
}

.site-nav-item+.site-nav-item{
    margin-left: 40px;
}
.site-nav-link{
    text-decoration: none;
    color: black;
    opacity: 0.8;
    font-size: 16px;
    font-family: roboto;
}
.site-nav-link>span{
    color: #D23166;
}
.btn-one{
    margin-left:200px;
}


.intro-container{
    margin: 0 auto;
    width: 1130px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 210px;
    background: url(../images/bg-image.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-size:contain;
}
.intro{
    margin: 0;
    padding: 0;

}
.intro-desc{
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.1em;
    color: #0F0101;
    font-weight: 500;
}
.intro-title{
    margin: 0;
    padding: 0;
    font-size: 57.33px;
    color: #0F0101;
    opacity: 0.9;
    font-weight: 400;
    width: 620px;
    font-family: fredoka one;
}
.intro-title>span{
    color: #D23166;
}
.intro-text{
    width: 523px;
    font-size: 18px;
    line-height: 27px;
    color: #0F0101;
    opacity: 0.6;
    font-weight: 400;
    font-family: roboto;
}



/* --------MAIN-------- */

/* ------MAIN SERVICRS----- */

.services{
   margin: 0;
   padding: 0;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   padding-top: 100px;
   padding-bottom: 90px;
}
.services-item{
    max-width: 250px;
    max-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color:white;
    font-family: hind madurai;
    border-radius: 7px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.2);

}
.services-item-img{
    margin-top: 33px;
    margin-bottom: 33px;
}
.services-item-title{
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 20px;
}
.services-item-desc{
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #000000;
    opacity: 0.6;
    font-style: normal;
    margin-bottom: 27px;
}



/* ------MAIN FOOD----- */

.main-food{
    padding: 0;
    margin: 0;
    background-color: #F2CEDA;
    height: 544px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-food-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main-food-item{
    height: 256px;
}
.main-food-title{
    margin: 0;
    padding: 0;
    width: 340px;
    font-size: 44.2px;
    line-height: 49px;
    font-weight: 600;
    padding-bottom: 20px;
    font-family: hind madurai;
}
.main-food-desc{
    margin: 0;
    padding: 0;
    width: 442px;
    font-size: 16px;
    line-height: 24px;
    color: #150101;
    opacity: 0.6;
    font-weight: 400;
    padding-bottom: 20px;
    font-family: roboto;
}




/* ------PRODUCT------ */

.product-title{
    font-size: 44.2px;
    line-height: 61px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: hind madurai;
}

.product-list{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.product-list-items>a{
    text-decoration: none;
    font-size: 18px;
    line-height: 21px;
    font-weight: 500;
    color: #000000;
    font-family: roboto;
}
.product-list-item>a{
    text-decoration: none;
    font-size: 18px;
    line-height: 21px;
    font-weight: 500;
    color: #000000;
    opacity: 0.6;
    font-family: roboto;
}


.product-price{
    padding: 0;
    margin: 0;
    list-style: none;
    padding-bottom: 149px;
}
.product-price-item{
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product-price-item:nth-child(even){
    flex-direction: row-reverse;
}

.cappage-title{
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 26px;
    line-height: 36px;
    color: #000000;
    font-style: normal;
    padding-bottom: 11px;
    width: 220px;
    font-family:hind madurai;
}
.cappage-text{
    margin: 0;
    padding: 0;
    width: 454px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    opacity: 0.7;
    font-style: normal;
    padding-bottom: 28px;
    font-family:roboto;
}
.new-price{
    margin: 0;
    padding: 0;
    padding-bottom: 15px;
    font-family: hind madura;
}
.new-price>span{
    margin: 0;
    padding: 0;
    font-size: 26px;
    line-height: 36px;
    color: #000000;
    font-weight: 500;

}
.new-price>del{
    margin: 0;
    padding: 0;
    font-size: 20px;
    line-height: 28px;
    text-decoration-line: line-through;
    color: #000000;
    font-weight: 500;
    opacity: 0.7;
}
.thought{
    margin: 0;
    padding: 0;
    display: inline-block;
}
.people-thought{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}
.people{
    margin: 0;
    padding: 0;
    margin-left:21px;
}
.people-title{
    margin: 0;
    padding: 0;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    font-weight: 500;
    font-family: roboto;
}
.country{
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #000000;
    opacity: 0.7;
    font-weight: 500;
    margin-left: -113px;
    font-family: roboto;
}
.thought-desc{
    width: 322px;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    opacity: 0.7;
    font-weight: 400;
    font-family: roboto;
}
.little-img{
    margin: 0;
    padding: 0;
    width: 237px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



/* ------ORDERING FOOD------ */

.ordering-food{
    background-color: #F8EDF0;
    height: 620px;
 }
.ordering-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom:150px;

}
.ordering-food-img{
    position: relative;
    top: 56px;
}
.menu-desc{
    margin: 0;
    padding: 0;
    display: inline-block;
}
.menu-desc-title{
    margin: 0;
    padding: 0;
    width: 642px;
    font-size: 44.2px;
    line-height: 52px;
    font-weight: 500;
    color: #000000;
    padding-bottom: 20px;
    font-family: roboto;
}
.menu-desc-text{
    margin: 0;
    padding: 0;
    width: 550px;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.01em;
    color: #0F0101;
    opacity: 0.7;
    font-weight: 400;
    padding-bottom: 31px;
    font-family: roboto;
}
.ordering-way{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}
.ordering-img{
    margin: 0;
    padding: 0;
    width: 30px;
    height: 30px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.ordering-way>p{
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
    font-style: normal;
    margin-left: 10px;
    font-family: roboto;

}
.play-store{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 390px;
    margin-left: -9px;
}



/* ------POLAR FORM------ */

.polar-form-title{
    margin: 0 auto;
    padding: 0;
    padding-top: 150px;
    font-size: 44px;
    line-height: 52px;
    text-align: center;
    color: #000000;
    font-weight: 500;
    width: 522px;
    padding-bottom: 36px;
    font-family: roboto;
}
.fill_form{
    margin: 0 auto;
    padding: 0;
    width: 637px;
    padding-bottom: 71px;

}
.type-form{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.type-phone{
    margin: 0;
    padding: 0 10px;
    width: 283px;
    height: 74px;
    border:1px solid #D23166;
    border-radius: 5px;
    font-family: roboto;
}

.type_blank{
    margin: 0%;
    padding:0px 10px;
    appearance: none;
    width: 283px;
    height: 74px;
    background-image: url(../images/Polygon\ 1.png);
    background-repeat: no-repeat;
    background-position: right 10px center;
    border:1px solid #D23166;
    border-radius: 5px;
    font-family: roboto;
}
.type-form-two{
    margin:0;
    padding:0;
    margin-top:37px;
    width: 637px;
    display: flex;
    align-items: center;
}
.user-quest{
    padding: 0 10px;
    height: 74px;
    width: 483px;
    border:1px solid #D23166;
    border-radius: 5px;
    border-right: none;
    font-family: roboto;

}
.form-btn{
    width: 134px;
    height: 74px;
    border-radius: 5px;
    background: #D64374;
    border: none;
    font-family: roboto;
    color: #fff;
}


/* -------FOOTER-------- */

.site-footer{
    background-color: black;
    height: 381px;
}
.footer-container{
    display: flex;
    justify-content: space-between;
}
.social-network{
    margin: 0%;
    padding: 0%;
    margin-top: 70px;
}
.social-network-img{
    margin: 0;
    padding: 0;
    padding-bottom: 9px;
    margin-left: -8px;
}
.social-network-desc{
    margin: 0;
    padding: 0;
    width: 207px;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    opacity: 0.7;
    padding-bottom: 25px;
    font-family:roboto;
}
.social-network-item{
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 90px;
}
.social-network-item>p{
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    padding-bottom: 8px;
    font-family: roboto;
}
.network{
    margin: 0;
    padding: 0;
    display:flex;
    align-items:center;
    list-style: none;
    justify-content: space-between;
}
.network-item>a{
    margin: 0;
    padding: 0;
   text-decoration: none;
}
.network-item>a:hover{
    cursor: pointer;
    opacity: 0.8;
}


.footer-navbar-list{
    margin: 0;
    padding: 0;
    margin-top: 142px;
    width: 207px;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    opacity: 0.7;
    padding-bottom: 25px;
    list-style: none;
    font-family: roboto;

}
.footer-list-item+.footer-list-item{
    margin-top: 10px;
}

.footer-services-list{
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 150px;
    width: 207px;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    opacity: 0.7;
    padding-bottom: 25px;
    font-family: roboto;
}
.services-list-item+.services-list-item{
    margin-top: 10px;
}




.newsletter{
    margin: 0;
    padding: 0;
    margin-top: 136px;
}
.newsletter-title{
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    font-weight: 500;
    padding-bottom: 13px;
    font-family: roboto;
}
.email{
    margin: 0;
    padding: 0;
    width: 388px;
    display: flex;
}
.footer-email{
    margin: 0%;
    padding:0px 10px;
    width:243px;
    background-color: #000000;
    border-radius: 5px;
    color: white;
    border: 1px solid #D23166;
    font-family: roboto;

}
.footer-btn{
    width: 125px;
    height: 55px;
    border-radius: 5px;
    background: #D23166;
    color: #fff;
}
.pay{
    margin: 0;
    padding: 0;
    width: 140px;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}